  <h2>{{ hero.name | uppercase }} Details</h2>
 <div>
    <label>
      <input [(ngModel)]="hero.id" placeholder="id"/>
   </label>
 </div>
 <div>
    <label>name:
      <input [(ngModel)]="hero.data.name" placeholder="name"/>
    </label>
 </div>
 <div>
      <label>Info:
        <input [(ngModel)]="hero.data.info" placeholder="info"/>
      </label>
</div>
 <div>
      <label>Img:
        <input [(ngModel)]="hero.data.img" placeholder="imgURL"/>
      </label>
 </div>
  <button (click)="goBack(hero)">go back</button>
