<!-- <div *ngIf="this.auth.afAuth.authState | async as user; else showLogin">
      <h3>Howdy, {{user.displayName }}</h3>
      <img [src]="user.photoURL">
      <p>UID: {{user.uid}}</p>
</div> -->

<h2>My Page </h2>
 <div>
    <label>Nickname
      <input [(ngModel)]="user.nickname" placeholder="nickname"/>
   </label>
 </div>
 <div>
    <label>Age:
      <input [(ngModel)]="user.age" placeholder="age"/>
    </label>
 </div>

 <button mat-raised-button color="primary" (click)="updateUserInfo()">Update</button>
<!-- 
 <div class="example-container mat-elevation-z8">
    <table mat-table #table [dataSource]="dataSource">
  
      <ng-container matColumnDef="hero">
        <th mat-header-cell *matHeaderCellDef>hero</th>
        <td mat-cell *matCelslDef="let element"> {{element.hero}} </td>
      </ng-container>
  
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>date</th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div> -->

  <mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="hero">
      <mat-header-cell *matHeaderCellDef>Hero name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.hero}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>Date of Like clicked</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>